//Colours

$primary:#E92569;
$light:#EFEFEF;
$black:#0A0A0A;
$white:#ffffff;
$gray-800:#767676;
$enable-gradients:true;
$gray-300:#e5e5e5;
$gray-500:#F1F1F1;

$gradientBackground:radial-gradient($white 5%, $gray-500 15%, $gray-300 60%) !default;


//Cards

$border-radius:10px;